<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/simple-sidebar.css') }}">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/index">
                        Home
                    </a>
                </li>

                {% for course in courses %}
                <li>
                    <a href="/viz/{{course}}">{{" ".join(course.split("_"))}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Caltech CS Curriculum Mapping</h1>
                <p>
                    The order of the Caltech CS Curriculum many not empirically be the best order to take courses. However, many courses have related concepts but are often taken in suboptimal order. We surveyed over 150 Caltech students and asked them which classes best prepared them for a set of popular CS classes. 
                </p>
                <p>
                    The left bar shows some of the results we found. Under each course, a histogram shows which courses other students thought helped prepare for them. In the tab titled 'experimental', a graph summarizing the data is shown (where every node represents a course, each edge represents their response that connect two courses together).
                </p>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>
